header {
	font-family: 'Handwriting', Garamond;
}
h1{
	font-family: 'Handwriting', Garamond;
	font-size: 300%;
	text-align: center;
	
}
h2 {
	font-family: 'Handwriting', Garamond;
	font-size: 225%;
	text-align:center;
}
article > p{
	font-size: 1.5rem;
	font-family: Garamond;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.descriptivetext {
	font-size: 1;
	font-family: Garamond;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	font-weight: bold;
	display:block;
}
.navbarlist {
	list-style-type: none;
	justify-content: center;
	gap: 10px;
	display: flex;
	background-color:rgb(3, 119, 252);
	padding: 2em;
}
.navbarlink{
	padding: 0px 1em 0px 1em;
	
}
.navbarlist li + li {
	border-left: 0.5em solid;
	border-color: white
}
.navbarlink > a{
	display: block;
	font-size: 200%;
	text-decoration: none;
	color: white;
}
.centerpic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
body {
	text-align: center;
	font-size: 120%
	font-family: Garamond;
}
footer {
	color: darkblue;
	font-size: 75%;
	width: 100%;
	bottom: 0;
	text-align: center;
}
@font-face{
	font-family: 'Handwriting';
	src: local('Handwriting'),
	url('fonts/KyleHandwriting-Regular.otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}