header > h1{
  margin: 15;
  font-size: 300%;
  text-align:center;
}
}
.navbarul {
  list-style: none;
  justify-content: center;
  gap: 10px;
  display: flex;
}
.navbarlink {
  display: block;
  color:black;
  font-size:150%;
}
.headernavbar ul li a:hover{
  color:rgb(128, 114, 252)
}
