header > h1{
  margin: 15;
  font-size: 300%;
  text-align:center;
}
}
.navbarlist {
  list-style: none;
  justify-content: center;
  gap: 10px;
  display: flex;
}
.navbarlink {
  display: block;
  color:black;
  font-size:150%;
}
