header > h1{
  margin: 15;
  font-size: 300%;
  text-align:center;
}
}
.headernavbar ul {
  justify-content:center;
  list-style:none;
  display:flex;
  background-color: rgb(84, 66, 245);
}
.headernavbar ul li a{
  display: block;
  color: white;
  padding: 20px 12px;
  text-decoration: none;
  font-size:150%;
}
.headernavbar ul li a:hover{
  color:rgb(128, 114, 252)
}
